#contact {
  padding: 0.5rem;
  min-height: 100vh;
  width: 100%;
}
.contact {
  padding: 10px 20px;
  display: flex;
  flex-direction: row;
}
.contact-heading {
  font-size: 2rem;
  text-align: center;
  color: #7f38ec;
}
.contact-container {
  width: 50%;
  margin: 0px auto;
  padding: 20px;
  line-height: 50px;
  display: flex;
  font-size: 1.75rem;
  text-align: justify;
  font-weight: 500;
}
.form-container {
  margin: 10px auto;
  max-height: 480px;
  padding: 10px 20px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px var(--text-color);
  font-family: "Segoe UI", sans-serif;
}
.contact-form {
  min-width: 350px;
  max-width: 350px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.form-container h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #7f38ec;
}

.contact-form label {
  font-size: 1.05rem;
  margin: 15px 0 5px;
  font-weight: 900;
  color: #7f38ec;
}

.contact-form input,
.contact-form textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 8px;
  box-shadow: 0 1px 1px var(--text-color);
  font-size: 16px;
  transition: 0.3s ease;
  background: transparent;
}

.contact-form input:focus,
.contact-form textarea:focus {
  border: none;
  color: whitesmoke;
  outline: none;
}

.contact-form textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-form button {
  align-self: center;
  width: 40%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 12px 30px;
  background-color: #7f38ec;
  border: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contact-form button:hover {
  background-color: #076879d0;
}
.contact-note {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.contact-info {
  font-size: 1.50rem;
  display: flex;
  justify-content: center;
}
.contact-social {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 22px;
}

@media (max-width: 768px) {
  .contact {
    flex-direction: column;
    align-items: center;
  }
  .contact-container {
    width: 80%;
  }
  .contact-form {
    padding: 10px;
  }

}
