.navbar-container {
  max-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color);
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding: 0px 20px;
  box-shadow: 0 0 5px var(--text-color);
}

.logo {
  color: #7f38ec;
}
.menu-icon {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
.list-btn {
  min-width: 80px;
  text-align: center;
  color: var(--button-text-color);
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 500;
  border: 1px solid transparent;
  border-radius: 20px;
}

.list-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 1px 0px var(--button-text-color);
}

.active {
  background-color: #7f38ec;
  color: #f0f0f0;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-theme {
  width: 30px;
  background-color: var(--bg-color);
}
@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  .nav-links {
    position: absolute;
    top: 72px;
    right: 0;
    flex-direction: column;
    align-items: center;
    width: 250px;
    padding: 20px;
    display: none;
    color: var(--text-color);
    background-color: transparent;
    backdrop-filter: blur(3px);
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links li a {
    width: 100%;
    padding: 10px;
    display: block;
  }

  .active {
    display: block;
  }
}
