#skill {
  height: 87vh;
  margin: 20px 20px;
  border: 5px solid transparent;
  border-radius: 30px;
  padding: 10px;
  background-color: #f0f0f0;
  box-shadow: 0px 0px 10px #22177A;
}
.skill-head {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
   color: #6256CA;
  border-bottom: 1px solid grey;
}
.skill-display {
  width: 100%;
  height: 300px;
  padding: 10px 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
