.projects-section {
  min-height: 100vh;
  padding: 30px 10px;
  text-align: center;
}

.projects-section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #6f42c1;
}
.project-para-container {
  min-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}
.project-para {
  width: 80%;
  font-size: 1.75rem;
  text-align: center;
}
.projects-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
