.blog-list {
  min-height: 250px;
  width: 250px;
  color: antiquewhite;
  border: 5px groove rgb(255, 255, 255, 0.18);
  box-shadow: 0 0 5px #e0e9f0;
  padding: 7px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.profileImage {
  min-height: 200px;
  width: 250px;
  border: 2px solid transparent;
  border-radius: 10px;
}
.project-name {
  color: White;
  font-family: sans-serif;
  font-size: 20px;
}
.info-container{
    padding: 10px;
}
.default-name {
  color: aqua;
  font-size: 22px;
  font-weight: 500;
}
.description {
  font-size: 12px;
  font-family: sans-serif;
  font-style: normal;
}
.btn-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: whitesmoke;
}
.btn {
  background-color: rgb(11, 46, 241);
  padding: 10px;
  color: whitesmoke;
  border: 2px solid transparent;
  border-radius: 20px;
}

@media screen and (min-width: 786px) {
.blog-list {
    margin-left: 20px;
}
}