section#home {
  padding: 2rem;
}

.landing-container {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.bio-container {
  order: 0;
}
.image-container img {
  order: 1;
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.text-container {
  max-width: 600px;
}

.name-head {
  font-size: 1.5rem;
}


.para-text {
  font-size: 1.2rem;
  margin: 1rem 0;
}

.social-icon-container {
  padding-top: 30px;
  margin-right: 1rem;
}

.btn-container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.resume-btn {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.resume-btn:hover {
  background-color: #0056b3;
}

.typewriter {
  color: #007bff;
  font-weight: bold;
  font-size: 3.5rem;
  padding-left: 80px;
  font-style: italic;
  font-family: sans;
  display: inline-block;
  overflow: hidden;
  border-right: 2px solid white;
  white-space: nowrap;
  animation: typing 3s steps(10, end), blink 0.75s step-end infinite;
  font-weight: bold;
}

@keyframes typing {
  from {
    width: 10%;
  }
  to {
    width: 50%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}   
@media (max-width: 768px) {
  .landing-container {
    min-height: 80vh;
    flex-direction: column;
    text-align: center;
  }

  .image-container img {
    width: 180px;
    height: 180px;
    order: 0;
  }

  .bio-container {
    order: 1;
  }
  .name-head {
    font-size: 1.8rem;
    text-align: left;
    padding-left: 30px;
  }
  .name-text {
    font-size: 2.8rem;
    background: linear-gradient(180deg, #00809d,  #7695ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
