*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar {
  height: 12vh;
  width: 100vw;
  top: 0;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:  #283039;
  padding: 15px 20px;
  color: white;
  border-bottom: 2px solid grey ;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  background-color: transparent;
}

.nav-links {
  display: flex;
  gap: 15px;
  background-color: transparent;
}


.nav-links a {
  background-color: transparent;
  color: white;
  font-size: 18px;
  text-decoration: none;
  padding: 10px;
  font-weight: 500;
}

.nav-links a:hover {
  background: white;
  border: 2px groove transparent;
  position: relative;
  color: aqua;
  font-size: 18px;
  border-radius: 20px;
  box-shadow: 0 0 5px rgb(250, 253, 255), 0 0 25px rgb(248, 252, 255),
    0 0 50px rgb(245, 250, 255), 0 0 100px rgb(245, 250, 255);
}

.hamburger {
  display: none;
  font-size: 14px;
  cursor: pointer;
}


@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
