.contact-service-container {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid transparent;
  border-radius: 30px;
}
.main-container {
  display: flex;
  justify-content: space-evenly;
}
.service-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-head {
  font-size: 25px;
  font-weight: 700;
   color: #6a11cb;
}
.link{
  font-size: 16px;
  font-weight: 500;
  font-family: "Playfair Display", serif;
   color: #7695FF;
}
.social-media-container {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.social-head {
  font-size: 25px;
  font-weight: 500;
  color: #6a11cb;
  padding-bottom: 20px;
}


@media (max-width: 768px) {
  .contact-service-container
  {
    width: 320px;
    height: 380px;
    padding: 20px 10px;
  }
}