
ul {
    list-style: none;
    color: #333;
  }
  
  .social-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 2px solid transparent;
    border-radius: 20px;    
  }
  .social-container .icon-content {
    margin: 0 10px;
    position: relative;
  }
  .icons{
    color: #f0f0f0;
    mix-blend-mode: screen;
    background: transparent;
  }
  .social-container .icon-content .tooltip {
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
    
  }
  .social-container .icon-content:hover .tooltip {
    opacity: 10;
    visibility: visible;
    top: -50px;
  }
  .social-container .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #333;
    background-color: #B2C6D5;
    transition: all 0.3s ease-in-out;
  }
  .social-container .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .social-container .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 30px;
    height: 30px;
  }
  .social-container .icon-content a:hover {
    color: white;
  }
  .social-container .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .social-container .icon-content a:hover .filled {
    height: 100%;
  }
  
  .social-container .icon-content a[data-social="linkedin"] .filled,
  .social-container .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .social-container .icon-content a[data-social="github"] .filled,
  .social-container .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .social-container .icon-content a[data-social="instagram"] .filled,
  .social-container .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .social-container .icon-content a[data-social="youtube"] .filled,
  .social-container .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }
  