.footer-container {
  height: 80px;
  font-size: 30px;
  font-weight: 500;
  color:  #7f38ec;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;  
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .footer-container {
    font-size: 18px;
    font-weight: 900;
  }
}
