.landing-container {
  position: relative;
  top: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}
.bio-container {
  order: 0;
  margin-top: 1rem;
  padding: 10px 20px;
}
.image-container img {
  order: 1;
  width: 350px;
  height: 350px;
  object-fit: contain;
}
.text-container {
  max-width: 800px;
}
.name-head {
  position: relative;
  left: 60px;
  font-size: 1.75rem;
}
.profile-name {
  margin-left: 90px;
  color: #007bff;
  font-weight: bold;
  font-size: 2.5rem;
  margin-top: 10px;
  font-family: serif;
}
.para-text {
  font-size: 1.75rem;
  line-height: 50px;
}
.social-icon-container {
  padding-top: 5px;
}
.btn-container {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}
.resume-btn {
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: var(--btn-color);
  color: whitesmoke;
  padding: 12px 30px;
  font-size: 16px;
  font-weight: 600;
  font-family: sans;
  border-radius: 20px;
  box-shadow: 0 0 10px var(--shadow);
  cursor: pointer;
}
.resume-btn:hover {
  background-color:var(--btn-hover-color);
  color: #ffffff;
  box-shadow: 0 0 15px var(--shadow);
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .landing-container {
    flex-direction: column;
    text-align: center;
  }
  .image-container img {
    width: 150px;
    height: 150px;
    order: 0;
  }
  .bio-container {
    order: 1;
    margin: 0px;
    min-height: 300px;
  }
  .social-icon-container {
    padding-top: 10px;
  }
  .name-head {
    font-size: 1.8rem;
    text-align: left;
    padding-left: 30px;
  }
  .para-text {
    font-size: 1.25rem;
    line-height: 30px;
    text-align: center;
    letter-spacing: 2px;
  }
  .name-text {
    font-size: 2.8rem;
    background: linear-gradient(180deg, #00809d, #7695ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
