.description-container {
  max-width: 700px;
  transition: all 0.3s ease;
  text-align: center;
}

.about-head {
  text-align: center;
  font-size: 2rem;
  color: #7f38ec;
  font-weight: bold;
  margin-bottom: 1.2rem;
  letter-spacing: 1px;
}

.desc-para {
  font-size: 1.75rem;
  line-height: 1.8;
   display: -webkit-box;
  -webkit-line-clamp:2;
  -webkit-box-orient: vertical;
  overflow:hidden;
}

.desc-para strong {
  color: #007bff;
  font-weight: 600;
}

@media (max-width: 768px) {
.description-container{
  width: 100%;
  padding: 10px;
}
  .about-head {
    font-size: 1.6rem;
  }

  .desc-para {
    font-size: 1rem;
  }
}
