.description-container{
    height: 280px;
    width: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-head{
    font-size: 30px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    color: #0A5EB0;
    padding-bottom: 10px;
}
.desc-para{
    width: 600px;
    font-size: 18px;    
    font-weight: 300;
    color: #4E6688;
    line-height: 2;
    font-family: sans-serif;
}
strong{
    color: #261FB3;
}