.contact-container {
  padding: 3rem 2rem;
  border-radius: 20px;
  max-width: 1200px;
  margin: auto;
}

.contact-head {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #7f38ec;
  margin-bottom: 2rem;
  border-bottom: 1px solid  #7695ff;
}

.contact-divide {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  flex-wrap: wrap;
}

.contact-divide > * {
  flex: 1 1 45%;
}

@media (max-width: 768px) {
  .contact-divide {
    flex-direction: column;
  }

  .contact-divide > * {
    flex: 1 1 100%;
  }

  .contact-head {
    font-size: 1.5rem;
  }
}
