:root {
  --bg-color: #f7f7f7;
  --text-color: #030b1c;
  --card-color: #f4f4f4;
  --icon-color: #1f2531;
  --navbar-bg-color: #f7f7f7;
  --btn-color: rgba(88, 88, 251, 0.788);
  --btn-hover-color: #CDC1FF;
  --shadow: #030b1c;
}

[data-theme="dark"] {
  --bg-color: #030b1c;
  --text-color: #ffffff;
  --card-color: #1f253a;
  --navbar-bg-color: #030b1c;
  --button-text-color: #f0f0f0;
  --icon-color: #f0f0f0;
  --btn-color: rgba(88, 88, 251, 0.788);
  --shadow: #D0A2F7;
  --btn-hover-color: #D0A2F7;
}

* {
  max-width: 100%;
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  overflow-y: scroll;
  overflow-x: hidden;
  font-family: sans;
  overflow-x: hidden;
  font-family: sans;
}

.app-container {
  background: var(--bg-color);
  color: var(--text-color);
}
