:root {
  --color-primary: #362fd9;
  --color-accent: #0284c7;
  --color-success: #16a34a;
  --color-danger: #dc2626;
  --color-info: #386ee4;
  --bg-color: #d5f9fb;
  --shadow: rgb(54, 133, 133);
  --color-text-body: #0f2167;
  --color-text-muted: #4b5563;
  --color-text-highlight: #e11d48;
}

[data-theme="dark"] {
  --color-primary: #6366f1;
  --color-accent: #afddff;
  --color-success: #10b981;
  --color-danger: #4f46e5;
  --color-info: #3b82f6;
  --bg-color: #080812;
  --shadow: cyan;
  --color-text-body: #cbd5e1;
  --color-text-muted: #bfc9d1;
  --color-text-highlight: #f43f5e;
}
body {
  background: var(--bg-color);
  color: var(--color-text-body);
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
  font-weight: 600;
}
* {
  scrollbar-width: none;
  background-color: none;
}
button:hover {
  cursor: pointer;
}
body::-webkit-scrollbar {
  display: none;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

* {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.name-text {
  background: linear-gradient(10deg, #f1edee, #0d97c1, #0a0000);
  -webkit-background-clip: text;
  color: transparent;
  font-family: sans-serif;
}

.progress {
  position: fixed;
  right: 25px;
  bottom: 25px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1000;
  box-shadow: 0px 0px 15px var(--color-accent);
}
.progress-value {
  width: 48px;
  height: 48px;
  background: var(--bg-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
  color: var(--color-text-body);
}
strong {
  color: var(--color-primary);
  font-family: sans-serif;
  font-weight: 300;
  text-decoration: none;
  text-shadow: none;
}
.curve-divider {
  position: absolute;
  inset: 0 0 0 auto;
  width: 65%;
  background: #31e1f7;
  clip-path: ellipse(75% 100% at 100% 50%);
}

@media (max-width: 1024px) {
  .curve-divider {
    width: 50%;
    clip-path: ellipse(85% 100% at 100% 50%);
  }
}

@media (max-width: 768px) {
  .curve-divider {
    width: 65%;
    clip-path: ellipse(100% 100% at 100% 50%);
  }
}

@media (max-width: 640px) {
  .curve-divider {
    width: 100%;
    clip-path: ellipse(0% 100% at 100% 50%);
    opacity: 0.15; /* optional */
  }
}
